
body {
    background: #030014;
    color: #fff;
    
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(0,255,255,0.1), transparent),
                radial-gradient(circle at 70% 20%, rgba(183,0,255,0.15), transparent);
    z-index: -1;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(0, 0, 40, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(0, 200, 255, 0.4);
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: #00eaff;
    text-shadow: 0 0 15px #00eaff;
}

.logo span {
    color: #bb00ff;
    text-shadow: 0 0 15px #bb00ff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
}

.uhuy {
    text-align: center;
    padding: 140px 20px;
}

.uhuy h1 {
    font-size: 55px;
    text-shadow: 0 0 20px #00eaff;
    position: relative;
}

.uhuy p {
    margin-top: 100px;
    font-size: 30px;
    
}

.glow {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    border: 2px solid #00eaff;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    box-shadow: 0 0 15px #00eaff;
}

.glow:hover {
    background: #00eaff;
    color: #000;
    
}

.produk-section {
    text-align: center;
    padding: 80px 40px;
}

.suka {
    font-size: 32px;
    text-shadow: 0 0 18px #bb00ff;
    margin-bottom: 40px;
}

.produk-container {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.terpopuler {
    width: 1500px;
    padding: 100px;
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(0,200,255,0.3);
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0,200,255,0.2);
}

.terpopuler:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0,200,255,0.4);
}

.terpopuler img {
    width: 350px;
    border-radius: 10px;
    height: 50%;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 40, 0.5);
    border-top: 1px solid rgba(0,200,255,0.3);
}

.terpopuler h3 {
    padding-top: 10px;
    font-size: 50px;
    
}

.terpopuler button{
    margin-top: 30px;
    font-size: 70px;
    cursor: pointer;
}

.terpopuler p{
    padding-top: 20px;
    text-shadow: 2px 2px blue;
    font-size: larger;
}

.uhuy a{
    color: white;
    margin-top: 100px;
    font-size: 100px;
}

.haha:hover {
    color: #00eaff;
}